<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="app.meatin">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".ui.MeatInApplication"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@drawable/meatin_app_logo"
		android:label="@string/app_name"
		android:roundIcon="@drawable/meatin_app_logo"
		android:supportsRtl="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/Theme.MeatIn">
		<activity
			android:name=".ui.MainActivity"
			android:exported="true"
			android:label="@string/app_name"
			android:theme="@style/Theme.MeatIn.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>